<!DOCTYPE html>
<html>

<head th:replace="common/header :: header"/>

<body>
<div th:replace="common/header :: navbar"/>
  <div align = "center">
    <h1> Create New Student</h1>
    <br />
    <div class = "col-sm-4">
      <form action="#" th:action="@{/Student/save}" th:object="${student}" method="post">

        <div align="left">
          <tr>
            <label class="form-label" > Student Name </label>
            <td>
              <input type="hidden" th:field="*{id}" />
              <input type="text" th:field="*{stname}" class="form-control" placeholder = "Student Name" />
            </td>
          </tr>
    </div>
        <div align="left">
          <tr>
            <label class="form-label" > Course </label>
            <td>
              <select name = "course" id="course" class="form-control">
                  <option th:each="course : ${listcourse}"
                          th:value="${course.id}"
                          th:text="${course.coursename}">

                  </option>

            </td>
          </tr>
        </div>
        <div align="left">
          <tr>
            <label class="form-label" > Fee </label>
            <td>

              <input type="text" th:field="*{fee}" class="form-control" placeholder = "Fee" />
            </td>
          </tr>
        </div>
        <br>
        <tr>
        <td colspan="2"><button type="submit" class="btn btn-info">Save</button></td>
        </tr>
      </form>
  </div>
</body>
<footer th:replace="common/footer :: footer"/>
</html>