<!DOCTYPE html>
<html lang="en">

<head th:replace="common/header :: header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div>
    <h2 >Student Registation</h2>
    <tr>
        <div align = "left" >
            <h3><a  th:href="@{'/Student/addstudent'}">Add new</a></h3>
        </div>
    </tr>

    <div class="col-sm-8" align = "center">
        <div class="panel-body" align = "center" >

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Course Name</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="student : ${liststudent}">
                    <td th:text="${student.id}">Student ID</td>
                    <td th:text="${student.stname}">Student Name</td>
                    <td th:text="${student.coursename}">Course</td>
                    <td>
                        <a th:href="@{'/Student/edit/' + ${student.id}}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/Student/delete/' + ${student.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    </tr>

    </tbody>
    </table>
    <div>
    </div>
</div>
</body>
<footer th:replace="common/footer :: footer"/>
</html>